.image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 20vh;
  gap: 0; 
}

.logo-solar-image {
  width: 30%;
  height: 30%;
}

.logo-text-image {
  width: 60%;
  height: 30%;
}

