/* Container for the category cards */
.category-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 4vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Individual category card styling */
.category-card {
  border: 1px solid #444;
  height: 20vh;
  border-radius: 1vh;
  padding: 4vh;
  overflow-y: hidden;
  text-overflow: clip;
  background-color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  transform: scale(1.04);
}

.category-card h3 {
  margin-top: 0;
  color: #eee;
}

.category-card p {
  color: #bbb;
  font-size: 1.6vh;
  line-height: 1.4;
}

.category-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}