h2 {
  margin-top: 30vh;
}

button {
  border-radius: 1vh;
  border: 0.1vh solid transparent;
  padding: 0;
  font-size: 3vh;
  font-weight: 500;
  font-family: inherit;
  background-color: #212121;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 2vh;
  margin-bottom: 34vh;
  width: 16vh;
  height: 8vh;
}
button:hover {
  border-color: #f5d248;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}