.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 8vh;
  background-color: #222;
  border-bottom: 1px solid #444;
  box-shadow: 0 2px 4px rgba(173, 100, 100, 0.05);
}

.nav-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-logo-icon {
  height: 4vh;
  margin-left: 2vh;
}

.nav-logo-name {
  height: 4vh;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 2vh;
  padding: 0;
  gap: 3vh;
}

.nav-link {
  text-decoration: none;
  color: #eee;
  font-weight: 500;
  transition: color 0.2s ease;
}
.nav-link:hover {
  color: #f5eb6d; 
}